process {
    withName:cutadapt {
        container = 'genomicpariscentre/cutadapt'
    }
    withName:stargenome {
        container = 'alexdobin/star:2.7.10a_alpha_220506'
    }
    withName:remdup {
        container = 'broadinstitute/picard'
    }
}
docker {
    enabled = true
    temp = '/data/Reference_Genomes'
}
