process {
    withName:trimGalore {
        container = 'clinicalgenomics/trim_galore:0.6.7'
    }
    withName:mapgenome {
        container = 'staphb/bwa'
    }
    withName:validligation {
        container = 'dovetailg/pairtools'
    }
    withName:remDupGenBAM {
        container = 'dovetailg/pairtools'
    }
}
docker {
    enabled = true
    temp = '/data/Reference_Genomes'
}
